body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}

h1{
    text-align: center;
}


#container{
    border-style: solid;
    border-color: black;
    border-width: 5px;

}

#screen{
   display: flex;
   flex-direction: column-reverse;
}

#history{
    height: 20px;
    width: 200px;
}

#current{
    height: 30px;
    width: 200px;
}

#button-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
                         
}

.buttons{
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
}

.buttons:hover{
    background-color: gray;
}

